# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ListView_WebApiSample.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Youcode\Desktop\xamarin-listview-Asp.NetCore-WebAPI-master\.idea\.idea.ListView_WebApiSample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
